@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg-color: #f5f0eb;
  --bg-accent-color: #fdf3ec;
  --border-color: #e0d9d0;
  --gray-dark: #1a1a1a;
  --gray-mid: #444444;
  --gray-soft: #888888;
  --accent-color: #c0580a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;

  color: var(--gray-dark);
  background-color: var(--bg-color);
}

header {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 10px 0;
}
